*{
    background-color: #EDD263;
    font-family: 'Roboto', sans-serif;
    
}
.main-nav{
    margin-left: 800px;
}
.searchBar{
    margin: 0 auto;
    margin-bottom: 10px;
}
#mealDetails{
    display: none ;
    width: 450px;
    margin: 0 auto;
  }
#meal{
    margin: 0 auto;
}
.thumbnail{
    width: 200px;
  }
.cardBtn{
    border: white;
    display: grid;
    width: 100px;
}
.bg-white{
    background-color: white;
    padding: 10px;
    
}
  