*{
    background-color: #EDD263;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: #EDD263;
}
.main-nav{
    margin-left: 800px;
}
.searchBar{
    margin: 0 auto;
    margin-bottom: 20px;
}
#mealDetails{
    display: none ;
    margin: 0 auto;
  }
#meal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 70px;
    align-items: center;
    grid-gap: 30px;
}
.thumbnail{
    width: 200px;
  }
.cardBtn{
    border: white;
    display: grid;
    width: 100px;
}
.bg-white{
    background-color: white;
    padding: 10px;
    
}
ul{
    background-color: white;
}
ul li{
    background-color: white;
}
.item-details{
    width: 300px;
}
  